header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 24px;

  font-size: 1.25rem;

  background: var(--color-blue);
  border-bottom: solid 5px var(--color-rose);
}

header nav {
  margin-left: auto;

  display: flex;
  flex-direction: row;
  gap: 32px;
}
