header {
  position: sticky;
  top: 0;
  z-index: 99;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding: 0px 24px;

  font-size: 1.25rem;

  background: var(--color-blue);
  border-bottom: solid 5px var(--color-rose);
}

header nav {
  display: flex;
  flex-direction: row;
  gap: 32px;

  padding-left: 2rem;
  border-left: 2px solid var(--color-white);
}
