@import "./styles/_globals.css";

@font-face {
  font-family: "Britannic-Bold";
  src: url("./assets/fonts/Britannic_Bold_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Scala-Sans-Italic";
  src: url("./assets/fonts/ScalaSans-RegularItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Scala-Sans";
  src: url("./assets/fonts/ScalaSans-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Scala-Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Britannic-Bold";
}

#root {
  display: flex;
  flex-flow: column;
  height: 100dvh;
  overflow: hidden;
}

.cls-1 {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
}

/* rgb(249, 224, 224) */

::selection {
  color: var(--color-blue);
  background-color: rgb(249, 224, 224);
}

/*** Mozilla based browsers ***/
::-moz-selection {
  color: var(--color-blue);
  background-color: rgb(249, 224, 224);
}

/***For Other Browsers ***/
::-o-selection {
  color: var(--color-blue);
  background-color: rgb(249, 224, 224);
}

::-ms-selection {
  color: var(--color-blue);
  background-color: rgb(249, 224, 224);
}

/*** For Webkit ***/
::-webkit-selection {
  color: var(--color-blue);
  background-color: rgb(249, 224, 224);
}
